<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="jack">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,
        user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
</head>

<body>

<div id="vueRoot">
    <!-- <my-table>
         <div>
             <my-tr v-on:lala="lala" prop="aaa1" title="a-1">
                 <my-td style="width:120px;height:50px;" :item="111"></my-td>
                 <my-td style="width:120px;height:50px;" :item="222"></my-td>
                 <my-td style="width:120px;height:50px;" :item="333"></my-td>
                 <my-td :item="442"></my-td>
             </my-tr>
             <my-tr v-show="isShow" v-on:lala="xixi" prop="aaa1" title="a-1">
                 <my-td style="width:120px;height:50px;" :item="111"></my-td>
                 <my-td style="width:120px;height:50px;" :item="222"></my-td>
                 <my-td style="width:120px;height:50px;" :item="333"></my-td>
                 <my-td :item="442"></my-td>
             </my-tr>
         </div>
         <div v-for="i in 4 " v-on:click="xixi(i)">
             <my-tr prop="aaa2" title="a-2">
                 <my-td style="width:80px;" :item="333" v-for="i in 4">444</my-td>
             </my-tr>
             <my-tr prop="aaa2" title="a-2" v-show="i==Current">
                 <my-td v-for="i in 4" :item="ii"></my-td>
             </my-tr>
         </div>
     </my-table>-->

    <!-- <my-table>
         <my-tr v-on:lala="lala" prop="aaa1" title="a-1">
             <my-td style="width:120px;height:50px;">序号</my-td>
             <my-td style="width:120px;height:50px;">标题</my-td>
             <my-td>状态</my-td>
             <my-td>扩展</my-td>
         </my-tr>
         <my-tr v-show="isShow" v-on:lala="xixi" prop="aaa1" title="a-1">
             <my-td>序号2</my-td>
             <my-td>标题3</my-td>
             <my-td >状态4</my-td>
             <my-td>扩展5</my-td>
         </my-tr>
         <my-tr prop="aaa2" title="a-2" >
             <my-td style="width:80px;" v-for="i in 4">444</my-td>
         </my-tr>
         <my-tr prop="aaa2" title="a-2">
             <my-td v-for="i in 4">333</my-td>
         </my-tr>
     </my-table>-->

    <my-table>
        <my-head v-slot:tableHead>
            <!-- <thead>
             <tr>
                 <td>fjf</td>
                 <td>fjf</td>
             </tr>
             <tr>
                 <td>fjf</td>
                 <td>fjf</td>
             </tr>
             </thead>-->
            <my-th :is-show-head=true>
                <my-td colspan_="2" rowspan_="2">序号</my-td>
                <!--<my-td>姓名</my-td>-->
                <my-td>性格</my-td>
            </my-th>
            <my-th :is-show-head='isShowHead_'>
                <my-td>重量</my-td>
            </my-th>
            <my-th :is-show-head='isShowHead_'>
                <my-td>性别</my-td>
                <my-td>重量</my-td>
                <my-td>长度</my-td>
            </my-th>
            <!--    <my-tr>
                    <my-td>性别</my-td>
                    <my-td>重量</my-td>
                    <my-td>长度</my-td>
                </my-tr>-->

        </my-head>
        <my-body v-slot:tableBody v-for="(item,index) in arr">
            <my-tr :is-show-body="true">
                <my-td colspan_="2" rowspan_="2">{{arr[index].Id}}</my-td>
                <my-td>{{arr[index].name}}</my-td>
                <!--<my-td>{{arr[index].nature}}</my-td>-->
            </my-tr>
            <my-tr :is-show-body="isShowBody_">
                <my-td>{{arr[index].weight}}</my-td>
            </my-tr>
            <my-tr :is-show-body="isShowBody_">
                <my-td>{{arr[index].sex}}</my-td>
                <my-td>{{arr[index].weight}}</my-td>
                <my-td>{{arr[index].length}}</my-td>
            </my-tr>
            <!-- <my-tr>
                 <my-td>{{arr[index].sex}}</my-td>
                 &lt;!&ndash;<my-td>{{arr[index].weight}}</my-td>
                 <my-td>{{arr[index].length}}</my-td>&ndash;&gt;
             </my-tr>-->
        </my-body>
        <!--  <slot v-slot="tableHead"><tr><td>ff</td></tr><tr><td>ff</td></tr></slot>
          <slot v-slot="tableBody"><tr><td>ff</td></tr><tr><td>ff</td></tr></slot>-->
    </my-table>
</div>

<script src="/js/vue.min.js" type="text/javascript"></script>
<script type="text/javascript">

    var store = {
        isShowBody_:true,
        Id: "123", IsShow: "",
        isShowHead_: true,
        isShow2: true, isShow: true,
        Current: '', ii: 'xx', title: "我是",
        arr: [{Id: '1', name: '莉莉安', nature: '开朗', sex: '女', weight: '45kg', length: "165cm"}, {
            Id: '2',
            name: '莉莉安',
            nature: '忧郁',
            sex: '女',
            weight: '50kg',
            length: "170cm"
        }, {Id: '3', name: '莉莉安', nature: '开朗', sex: '女', weight: '45kg', length: "165cm"}, {
            Id: '4',
            name: '莉莉安',
            nature: '忧郁',
            sex: '女',
            weight: '50kg',
            length: "170cm"
        }]

    };

    var tpl1 = '<div>';
    /*tpl1 += '<table cellpadding="0" cellspacing="0" border="1">';*/
    tpl1 += '<table border="1">';
    tpl1 += '<slot ></slot>';
    tpl1 += '<slot name="tableHead"></slot>';
    tpl1 += '<slot name="tableBody"></slot>';
    tpl1 += '</table>';
    tpl1 += '</div>';

    /*var tpl2 = '<tr  v-on:click="$emit(\'lala\')"><slot :row="this"></slot></tr>';*/
    var tpl2 =
        '           <tr v-show="isShowBody">' +
        '            <slot></slot>' +
        '            <slot name="td"></slot>' +
        '           </tr>';
    var tpl22 =
        '           <tr v-show="isShowHead">' +
        '            <slot></slot>' +
        '            <slot name="td"></slot>' +
        '           </tr>';

    /*var tpl3 = '<td :rowspan="rowspan" :style="style" :width="width":colspan="colspan"><slot :row="this"></slot></td>';*/
    var tpl3 = ' <td :colspan="colspan_" :rowspan="rowspan_"> <slot></slot></td>';
    /*
        var tpl3 = '<td :rowspan="rowspan" :style="style" :width="width":colspan="colspan">{{item}}</td>';
    */

    var tpl4 = '<tr @click="haha"><slot></slot></tr>';
    var tpl5 = '<th @click="hehe"><slot></slot></th>';
    var myBody = {
            data: function () {
                return {Name: 'hello'};
            },
            props: ["prop", "title", "isShow"],
            template: tpl4,
            inject: ['grandParent'],
            mounted: function () {
                this.grandParent.propArr.push(this.prop);
                this.grandParent.titleArr.push(this.title);
            },
            methods: {
                haha: function () {
                    if (store.isShowBody_ == true) {

                        store.isShowBody_= false;
                    } else if(store.isShowBody_ == false){
                        store.isShowBody_ = true;

                    }
                },
            }
        }
    ;
    var myHead = {
            data: function () {
                return {Name: 'hello'};
            },
            props: ["prop", "title", "isShow"],
            template: tpl5,
            inject: ['grandParent'],
            mounted: function () {
                this.grandParent.propArr.push(this.prop);
                this.grandParent.titleArr.push(this.title);
            },
            methods: {
                hehe: function () {
                    if (store.isShowHead_ == true) {

                        store.isShowHead_ = false;
                    } else if(store.isShowHead_ == false){
                        store.isShowHead_ = true;

                    }
                },
            }
        }
    ;
    var myTable = {
        data: function () {
            return {Name: 1112, propArr: [], titleArr: []};
        },
        props: ["text", 'isShow'],
        template: tpl1,
        provide: function () {
            return {grandParent: this};
        },
        //components: {'my-tr': myTr }
    };

    var myTr = {
            data: function () {
                return {Name: 'hello'};
            },
            props: ["prop", "title", "isShow", "isShowBody"],
            template: tpl2,
            inject: ['grandParent'],
            mounted: function () {
                this.grandParent.propArr.push(this.prop);
                this.grandParent.titleArr.push(this.title);
            },
            methods: {}
        }
    ;
    var myTr2 = {
            data: function () {
                return {Name: 'hello'};
            },
            props: ["prop", "title", "isShow", "isShowHead"],
            template: tpl22,
            inject: ['grandParent'],
            mounted: function () {
                this.grandParent.propArr.push(this.prop);
                this.grandParent.titleArr.push(this.title);
            },
            methods: {}
        }
    ;

    var myTd = {
        data: function () {
            return {Name: 'hello', ii: '你好'};
        },
        props: ["prop", "title", "rowspan_", 'colspan_', "width", "style", "item", "ii"],
        template: tpl3,
        inject: ['grandParent'],
        mounted: function () {
            this.grandParent.propArr.push(this.prop);
            this.grandParent.titleArr.push(this.title);
        }
    };

    Vue.component('my-table', myTable);
    Vue.component('my-tr', myTr);
    Vue.component('my-td', myTd);
    Vue.component('my-body', myBody);
    Vue.component('my-head', myHead);
    Vue.component('my-th', myTr2);

    new Vue({
        el: "#vueRoot",
        data: store,
        methods: {
            haha_: function () {
                if (store.isShow == true) {

                    store.isShow = false;
                } else {
                    store.isShow = true;

                }
            },
            haha: function () {
                alert("ff")
            },
            lala: function () {

                if (store.isShow == true) {

                    store.isShow = false;
                } else {
                    store.isShow = true;

                }
            },
            xixi: function (i) {
                /* if (store.isShow2 == true) {

                     store.isShow2 = false;
                 } else {
                     store.isShow2 = true;

                 }*/
                store.Current = i;
            }

        }
    });

</script>
</body>
</html>